@import "../../../node_modules/prismjs/themes/prism.css";

:host {
  display: block;
}

.code {
  font-family: monospace;
  // font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace; // TO-DO: set to Logseq global var
  // font-size: 12px; // TO-DO: set to Logseq global var
  // color: var(--fgColor-default, var(--color-fg-default));  // TO-DO: set to Logseq global var
}

.blob-code-inner {
  display: table-cell;
  overflow: visible;
  word-wrap: anywhere;
  white-space: pre;
  padding: 0 .6rem;
}

.blob-num {
  user-select: none;
  text-align: right;
  min-width: 2rem;
  width: 1%;
  padding: 0 .6rem;
}

pre {
  // background: #303030;
  // color: #f1f1f1;
  padding: 10px 16px;
  counter-reset: line;
}

pre code {
  display: block;
  line-height: 1.5rem;
}

pre code:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  min-width: 1rem;
  text-align: end;
  width: 1%;
}
