:host {
  --color-text: var(--ls-primary-text-color, whitesmoke);
  --color-text-muted: var(--ls-pie-fg-color, gray);
  --color-text-link: var(--ls-link-text-color, blue);
  --color-text-link-hover: var(--ls-link-text-hover-color, darkblue);
  --border-color: var(--ls-border-color, gray);
  --border-color__hover: var(--ls-secondary-border-color, lightgray);
  --background-color: var(--ls-primary-background-color);
  --background-color__image: var(--ls-quaternary-background-color);
  --border-width-thin: 1px;
  --font-family: var(--ls-font-family);
  --font-family__fallback: "Arial", "Helvetica", sans-serif;
  --font-family__code: "Fira Code","Monaco,Menlo","Consolas","COURIER NEW",monospace;
  --font-size__code: 0.85rem;
  --font-size__x-small: 0.7rem;
  --font-size__small: 0.8rem;

  color: var(--color-text, black);
  font-family: var(--font-family), var(--font-family__fallback);
}

.octicon {
  display: inline-block;
  overflow: visible;
  fill: currentColor;
  margin-right: 0.2rem;
}

.fg-color-muted {
  color: var(--color-text-muted);
}

.fg-small {
  font-size: small;
}

.d-flex {
  display: flex ;
}

.d-inline-block {
  display: inline-block;
}

.px-lg-2 {
  padding: 0 .4rem;
}

.px-2 {
  padding: 0 .4rem;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-order-1 {
  order: 1;
}

.flex-order-2 {
  order: 2;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 2em;
}

.items-center {
  text-align: center;
}

.list-no-decoration {
  list-style-type: none;
  padding-left: 0;
}

.horisontal-line {
  border-color: var(--ls-border-color);
  border-style: solid;
  border-top: none;
}

a {
  text-decoration: none;
  color: var(--color-text-link);
  &:hover {
    text-decoration: underline;
    color: var(--color-text-link-hover);
  }
}

.btn {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: .3rem .65rem;
}
