:host {
  --color-text: var(--ls-primary-text-color, whitesmoke);
  --color-text-muted: var(--ls-pie-fg-color, gray);
  --color-text-link: var(--ls-link-text-color, blue);
  --color-text-link-hover: var(--ls-link-text-hover-color, darkblue);
  --border-color: var(--ls-border-color, gray);
  --border-color__hover: var(--ls-secondary-border-color, lightgray);
  --background-color: var(--ls-primary-background-color);
  --background-color-secondary: var(--ls-secondary-background-color);
  --background-color-tertiary: var(--ls-tertiary-background-color);
  --background-color__image: var(--ls-quaternary-background-color);
  --border-width-thin: 1px;
  --font-family: var(--ls-font-family);
  --font-family__fallback: "Arial", "Helvetica", sans-serif;
  --font-family__code: "Fira Code","Monaco,Menlo","Consolas","COURIER NEW",monospace;
  --font-size__code: 0.85rem;
  --font-size__x-small: 0.7rem;
  --font-size__small: 0.8rem;
  --font-size__x-large: 1.5rem;

  color: var(--color-text, black);
  font-family: var(--font-family), var(--font-family__fallback);
}

.octicon {
  display: inline-block;
  overflow: visible;
  fill: currentColor;
  margin-right: 0.2rem;
}

.svg-icon {
  vertical-align: middle;
}

.fg-color-muted {
  color: var(--color-text-muted);
}

.fg-small {
  font-size: small;
}

.d-flex {
  display: flex ;
}

.d-inline-block {
  display: inline-block;
}

.px-lg-2 {
  padding: 0 .4rem;
}

.px-2 {
  padding: 0 .4rem;
}

.space-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

.flex-order-1 {
  order: 1;
}

.flex-order-2 {
  order: 2;
}

// MARGIN
.m-0 {
  margin: 0;
}

// $marginSteps: (
//   '0': 0,
//   '1': 0.5rem,
//   '2': 1rem,
//   '3': 1.5rem,
//   '4': 2rem,
//   '5': 2.5rem
// );

// @each $step, $value in $marginSteps {
//   .mb-#{$step} {
//     margin-bottom: $value;
//   }
// }

.mb-1 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-2 {
  margin-left: 1rem;
}

.text-center {
  text-align: center;
}

.list-no-decoration {
  list-style-type: none;
  padding-left: 0;
}

.horisontal-line {
  border-color: var(--ls-border-color);
  border-style: solid;
  border-top: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-link);
  &:hover {
    text-decoration: underline;
    color: var(--color-text-link-hover);
  }
}

.btn {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: .3rem .65rem;
}

.label {
  display: inline-block;
  border: var(--border-width-thin, max(1px, 0.0625rem)) solid var(--border-color, grey);
  border-radius: 2rem;
  font-size: var(--font-size__x-small, 0.7rem);
  line-height: 1rem;
  padding: 0 0.3rem;
  white-space: nowrap;
  margin-left: 0.4rem;
  vertical-align: middle;
}
