@import url('../../common/styles/general.scss');

:host {
  display: block;
}

.main-window__icon {
  border-color: transparent;
  padding: 0;

  &.main-window__icon-back:hover {
    background-color: var(--background-color-tertiary);
  }

  &.main-window__icon-close {
    color: var(--border-color);

    &:hover{
      color: var(--color-text);
    }
  }

  svg.svg-icon {
    width: 3rem;
    height: 3rem;
  }
}
