@import url('../../common/styles/general.scss');

:host {
  display:block;
}

.file-view {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  overflow: auto;
}

.file-view__header {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 2.5rem;
  border-bottom: 1px solid var(--border-color);

  button {
    background-color: var(--color-level-1);
    border: 1px solid var(--border-color);
    color: var(--ls-primary-text-color);

    &:hover {
      border-color: var(--border-color__hover);
      background-color: var(--color-level-2);
    }

    &:active {
      background-color: var(--color-level-3);
    }
  }
}

.file-view__filename {
  font-size: var(--font-size__small);
  font-weight: 600;
}
