:host {
  // border: 1px solid blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  // background-color: lightgray;
}

.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: aqua;
}

.fg-color-muted {
  color: gray;
}

.fg-small {
  font-size: small;
}

.d-flex {
  display: flex !important;
}

.d-inline-block {
  display: inline-block;
}

.px-lg-2 {
  padding: 0 .4rem;
}

.px-2 {
  padding: 0 .4rem;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-order-1 {
  order: 1 !important;
}

.flex-order-2 {
  order: 2 !important;
}

.label {
  border: var(--borderWidth-thin, max(1px, 0.0625rem)) solid var(--borderColor-default, var(--color-border-default, grey));
  border-radius: 2em;
  display: inline-block;
  font-size: var(--text-body-size-small, 0.75rem);
  font-weight: var(--base-text-weight-medium, 500);
  line-height: 18px;
  padding: 0 7px;
  white-space: nowrap;
  margin-left: .2rem;
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  // vertical-align: text-bottom;
  // vertical-align: middle;
  padding-right: .1rem;
  fill: currentColor;
}

li {
  text-align: center;
}
