@import url('../../common/styles/general.scss');

:host {
  display: block;
}

.avatar {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--background-color__image);
  background-position: center;
  background-size: cover;
}

.label {
  display: inline-block;
  border: var(--border-width-thin, max(1px, 0.0625rem)) solid var(--border-color, grey);
  border-radius: 2rem;
  font-size: var(--font-size__x-small, 0.7rem);
  line-height: 1rem;
  padding: 0 0.3rem;
  white-space: nowrap;
  margin-left: 0.4rem;
  vertical-align: middle;
}
