/* Global variables from Logseq */
:root {
  --ls-primary-background-color: #002b36;
  --ls-secondary-background-color: #023643;
  --ls-tertiary-background-color: #08404f;
  --ls-quaternary-background-color: #094b5a;
  --ls-table-tr-even-background-color: #03333f;
  --ls-active-primary-color: #8ec2c2;
  --ls-active-secondary-color: #d0e8e8;
  --ls-block-properties-background-color: #06323e;
  --ls-page-properties-background-color: #02171d;
  --ls-block-ref-link-text-color: #1a6376;
  --ls-border-color: #0e5263;
  --ls-secondary-border-color: #126277;
  --ls-tertiary-border-color: rgba(0,2,0,.1);
  --ls-guideline-color: #0b4a5a;
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #a4b5b6;
  --ls-secondary-text-color: #dfdfdf;
  --ls-title-text-color: #93a1a1;
  --ls-link-text-color: #8abbbb;
  --ls-link-text-hover-color: var(--ls-active-secondary-color);
  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
  --ls-tag-text-color: var(--ls-link-text-color);
  --ls-tag-text-hover-color: var(--ls-link-text-hover-color);
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: #0f4958;
  --ls-block-bullet-color: #608e91;
  --ls-block-highlight-color: #0a3d4b;
  --ls-selection-background-color: #338fff;
  --ls-selection-text-color: #fff;
  --ls-page-checkbox-color: #6093a0;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-page-mark-color: #262626;
  --ls-page-mark-bg-color: #fef3ac;
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: #01222a;
  --ls-scrollbar-foreground-color: #11505f;
  --ls-scrollbar-background-color: rgba(30,60,67,.1);
  --ls-scrollbar-thumb-hover-color: hsla(0,0%,100%,.2);
  --ls-cloze-text-color: #8fbc8f;
  --ls-icon-color: var(--ls-link-text-color);
  --ls-search-icon-color: var(--ls-primary-text-color);
  --ls-search-icon-hover-color: var(--ls-secondary-text-color);
  --ls-a-chosen-bg: var(--ls-quaternary-background-color);
  --ls-pie-bg-color: #01303b;
  --ls-pie-fg-color: #0b5869;
  --ls-highlight-color-gray: var(--color-gray-900);
  --ls-highlight-color-red: var(--color-red-900);
  --ls-highlight-color-yellow: var(--color-yellow-900);
  --ls-highlight-color-green: var(--color-green-900);
  --ls-highlight-color-blue: var(--color-blue-900);
  --ls-highlight-color-purple: var(--color-purple-900);
  --ls-highlight-color-pink: var(--color-pink-900);
  --ls-error-text-color: var(--color-red-400);
  --ls-error-background-color: var(--color-red-900);
  --ls-warning-text-color: var(--color-yellow-400);
  --ls-warning-background-color: var(--color-yellow-900);
  --ls-success-text-color: var(--color-green-100);
  --ls-success-background-color: var(--color-green-900);
  --ls-focus-ring-color: rgba(18,98,119,.5);
  --ls-header-button-background: #dee4ea;
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #195d6c;
  --color-level-5: #266c7d;
  --color-level-6: #3a7e8e;

  --ls-tag-text-opacity: 0.8;
  --ls-tag-text-hover-opacity: 1;
  --ls-page-text-size: 1em;
  --ls-page-title-size: 36px;
  --ls-main-content-max-width: 810px;
  --ls-main-content-max-width-wide: 1280px;
  --ls-font-family: Inter;
  --ls-scrollbar-width: 6px;
  --ls-border-radius-low: 4px;
  --ls-border-radius-medium: 8px;
  --ls-headbar-height: 3rem;
  --ls-headbar-inner-top-padding: 0px;
  --ls-left-sidebar-width: 246px;
  --ls-left-sidebar-sm-width: 74vw;
  --ls-left-sidebar-nav-btn-size: 38px;
  --ls-native-kb-height: 0px;
  --ls-error-color: var(--color-red-500);
  --ls-warning-color: var(--color-orange-500);
  --ls-success-color: var(--color-green-500);
  --ls-highlight-color-default: var(--ls-secondary-background-color);

  /* colors variables */
  --color-black: #000;
  --color-current: currentColor;
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #fecdd3;
  --color-rose-300: #fda4af;
  --color-rose-400: #fb7185;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
  --color-rose-700: #be123c;
  --color-rose-800: #9f1239;
  --color-rose-900: #881337;
  --color-transparent: transparent;
  --color-white: #fff;
  --color-amber-1: #fdfdf9;
  --color-amber-2: #fffce8;
  --color-amber-3: #fffbd1;
  --color-amber-4: #fff8bb;
  --color-amber-5: #fef2a4;
  --color-amber-6: #f9e68c;
  --color-amber-7: #efd36c;
  --color-amber-8: #ebbc00;
  --color-amber-9: #f5d90a;
  --color-amber-10: #f7ce00;
  --color-amber-11: #946800;
  --color-amber-12: #35290f;
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-300: #fcd34d;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-amber-700: #b45309;
  --color-amber-800: #92400e;
  --color-amber-900: #78350f;
  --color-blue-1: #fbfdff;
  --color-blue-2: #f5faff;
  --color-blue-3: #edf6ff;
  --color-blue-4: #e1f0ff;
  --color-blue-5: #cee7fe;
  --color-blue-6: #b7d9f8;
  --color-blue-7: #96c7f2;
  --color-blue-8: #5eb0ef;
  --color-blue-9: #0091ff;
  --color-blue-10: #0081f1;
  --color-blue-11: #006adc;
  --color-blue-12: #00254d;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-bronze-1: #fdfcfc;
  --color-bronze-2: #fdf8f6;
  --color-bronze-3: #f8f1ee;
  --color-bronze-4: #f2e8e4;
  --color-bronze-5: #eaddd7;
  --color-bronze-6: #e0cec7;
  --color-bronze-7: #d2bab0;
  --color-bronze-8: #bfa094;
  --color-bronze-9: #a18072;
  --color-bronze-10: #977669;
  --color-bronze-11: #846358;
  --color-bronze-12: #43302b;
  --color-brown-1: #fefdfc;
  --color-brown-2: #fcf9f6;
  --color-brown-3: #f8f1ea;
  --color-brown-4: #f4e9dd;
  --color-brown-5: #efddcc;
  --color-brown-6: #e8cdb5;
  --color-brown-7: #ddb896;
  --color-brown-8: #d09e72;
  --color-brown-9: #ad7f58;
  --color-brown-10: #a07653;
  --color-brown-11: #886349;
  --color-brown-12: #3f2c22;
  --color-crimson-1: #fffcfd;
  --color-crimson-2: #fff7fb;
  --color-crimson-3: #feeff6;
  --color-crimson-4: #fce5f0;
  --color-crimson-5: #f9d8e7;
  --color-crimson-6: #f4c6db;
  --color-crimson-7: #edadc8;
  --color-crimson-8: #e58fb1;
  --color-crimson-9: #e93d82;
  --color-crimson-10: #e03177;
  --color-crimson-11: #d31e66;
  --color-crimson-12: #3d0d1d;
  --color-cyan-1: #fafdfe;
  --color-cyan-2: #f2fcfd;
  --color-cyan-3: #e7f9fb;
  --color-cyan-4: #d8f3f6;
  --color-cyan-5: #c4eaef;
  --color-cyan-6: #aadee6;
  --color-cyan-7: #84cdda;
  --color-cyan-8: #3db9cf;
  --color-cyan-9: #05a2c2;
  --color-cyan-10: #0894b3;
  --color-cyan-11: #0c7792;
  --color-cyan-12: #04313c;
  --color-cyan-50: #ecfeff;
  --color-cyan-100: #cffafe;
  --color-cyan-200: #a5f3fc;
  --color-cyan-300: #67e8f9;
  --color-cyan-400: #22d3ee;
  --color-cyan-500: #06b6d4;
  --color-cyan-600: #0891b2;
  --color-cyan-700: #0e7490;
  --color-cyan-800: #155e75;
  --color-cyan-900: #164e63;
  --color-gold-1: #fdfdfc;
  --color-gold-2: #fbf9f2;
  --color-gold-3: #f5f2e9;
  --color-gold-4: #eeeadd;
  --color-gold-5: #e5dfd0;
  --color-gold-6: #dad1bd;
  --color-gold-7: #cbbda4;
  --color-gold-8: #b8a383;
  --color-gold-9: #978365;
  --color-gold-10: #8c795d;
  --color-gold-11: #776750;
  --color-gold-12: #3b352b;
  --color-grass-1: #fbfefb;
  --color-grass-2: #f3fcf3;
  --color-grass-3: #ebf9eb;
  --color-grass-4: #dff3df;
  --color-grass-5: #ceebcf;
  --color-grass-6: #b7dfba;
  --color-grass-7: #97cf9c;
  --color-grass-8: #65ba75;
  --color-grass-9: #46a758;
  --color-grass-10: #3d9a50;
  --color-grass-11: #297c3b;
  --color-grass-12: #1b311e;
  --color-green-1: #fbfefc;
  --color-green-2: #f2fcf5;
  --color-green-3: #e9f9ee;
  --color-green-4: #ddf3e4;
  --color-green-5: #ccebd7;
  --color-green-6: #b4dfc4;
  --color-green-7: #92ceac;
  --color-green-8: #5bb98c;
  --color-green-9: #30a46c;
  --color-green-10: #299764;
  --color-green-11: #18794e;
  --color-green-12: #153226;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-lime-1: #fcfdfa;
  --color-lime-2: #f7fcf0;
  --color-lime-3: #eefadc;
  --color-lime-4: #e4f7c7;
  --color-lime-5: #d7f2b0;
  --color-lime-6: #c9e894;
  --color-lime-7: #b1d16a;
  --color-lime-8: #94ba2c;
  --color-lime-9: #99d52a;
  --color-lime-10: #93c926;
  --color-lime-11: #5d770d;
  --color-lime-12: #263209;
  --color-lime-50: #f7fee7;
  --color-lime-100: #ecfccb;
  --color-lime-200: #d9f99d;
  --color-lime-300: #bef264;
  --color-lime-400: #a3e635;
  --color-lime-500: #84cc16;
  --color-lime-600: #65a30d;
  --color-lime-700: #4d7c0f;
  --color-lime-800: #3f6212;
  --color-lime-900: #365314;
  --color-mauve-1: #fdfcfd;
  --color-mauve-2: #f9f8f9;
  --color-mauve-3: #f4f2f4;
  --color-mauve-4: #eeedef;
  --color-mauve-5: #e9e8ea;
  --color-mauve-6: #e4e2e4;
  --color-mauve-7: #dcdbdd;
  --color-mauve-8: #c8c7cb;
  --color-mauve-9: #908e96;
  --color-mauve-10: #86848d;
  --color-mauve-11: #6f6e77;
  --color-mauve-12: #1a1523;
  --color-mint-1: #f9fefd;
  --color-mint-2: #effefa;
  --color-mint-3: #e1fbf4;
  --color-mint-4: #d2f7ed;
  --color-mint-5: #c0efe3;
  --color-mint-6: #a5e4d4;
  --color-mint-7: #7dd4c0;
  --color-mint-8: #40c4aa;
  --color-mint-9: #70e1c8;
  --color-mint-10: #69d9c1;
  --color-mint-11: #147d6f;
  --color-mint-12: #09342e;
  --color-olive-1: #fcfdfc;
  --color-olive-2: #f8faf8;
  --color-olive-3: #f2f4f2;
  --color-olive-4: #ecefec;
  --color-olive-5: #e6e9e6;
  --color-olive-6: #e0e4e0;
  --color-olive-7: #d8dcd8;
  --color-olive-8: #c3c8c2;
  --color-olive-9: #8b918a;
  --color-olive-10: #818780;
  --color-olive-11: #6b716a;
  --color-olive-12: #141e12;
  --color-orange-1: #fefcfb;
  --color-orange-2: #fef8f4;
  --color-orange-3: #fff1e7;
  --color-orange-4: #ffe8d7;
  --color-orange-5: #ffdcc3;
  --color-orange-6: #ffcca7;
  --color-orange-7: #ffb381;
  --color-orange-8: #fa934e;
  --color-orange-9: #f76808;
  --color-orange-10: #ed5f00;
  --color-orange-11: #bd4b00;
  --color-orange-12: #451e11;
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-pink-1: #fffcfe;
  --color-pink-2: #fff7fc;
  --color-pink-3: #feeef8;
  --color-pink-4: #fce5f3;
  --color-pink-5: #f9d8ec;
  --color-pink-6: #f3c6e2;
  --color-pink-7: #ecadd4;
  --color-pink-8: #e38ec3;
  --color-pink-9: #d6409f;
  --color-pink-10: #d23197;
  --color-pink-11: #cd1d8d;
  --color-pink-12: #3b0a2a;
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fbcfe8;
  --color-pink-300: #f9a8d4;
  --color-pink-400: #f472b6;
  --color-pink-500: #ec4899;
  --color-pink-600: #db2777;
  --color-pink-700: #be185d;
  --color-pink-800: #9d174d;
  --color-pink-900: #831843;
  --color-plum-1: #fefcff;
  --color-plum-2: #fff8ff;
  --color-plum-3: #fceffc;
  --color-plum-4: #f9e5f9;
  --color-plum-5: #f3d9f4;
  --color-plum-6: #ebc8ed;
  --color-plum-7: #dfafe3;
  --color-plum-8: #cf91d8;
  --color-plum-9: #ab4aba;
  --color-plum-10: #a43cb4;
  --color-plum-11: #9c2bad;
  --color-plum-12: #340c3b;
  --color-purple-1: #fefcfe;
  --color-purple-2: #fdfaff;
  --color-purple-3: #f9f1fe;
  --color-purple-4: #f3e7fc;
  --color-purple-5: #eddbf9;
  --color-purple-6: #e3ccf4;
  --color-purple-7: #d3b4ed;
  --color-purple-8: #be93e4;
  --color-purple-9: #8e4ec6;
  --color-purple-10: #8445bc;
  --color-purple-11: #793aaf;
  --color-purple-12: #2b0e44;
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
  --color-purple-800: #6b21a8;
  --color-purple-900: #581c87;
  --color-red-1: #fffcfc;
  --color-red-2: #fff8f8;
  --color-red-3: #ffefef;
  --color-red-4: #ffe5e5;
  --color-red-5: #fdd8d8;
  --color-red-6: #f9c6c6;
  --color-red-7: #f3aeaf;
  --color-red-8: #eb9091;
  --color-red-9: #e5484d;
  --color-red-10: #dc3d43;
  --color-red-11: #cd2b31;
  --color-red-12: #381316;
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-sage-1: #fbfdfc;
  --color-sage-2: #f8faf9;
  --color-sage-3: #f1f4f3;
  --color-sage-4: #ecefed;
  --color-sage-5: #e6e9e8;
  --color-sage-6: #dfe4e2;
  --color-sage-7: #d7dcda;
  --color-sage-8: #c2c9c6;
  --color-sage-9: #8a918e;
  --color-sage-10: #808784;
  --color-sage-11: #6a716e;
  --color-sage-12: #111c18;
  --color-sand-1: #fdfdfc;
  --color-sand-2: #f9f9f8;
  --color-sand-3: #f3f3f2;
  --color-sand-4: #eeeeec;
  --color-sand-5: #e9e9e6;
  --color-sand-6: #e3e3e0;
  --color-sand-7: #dbdbd7;
  --color-sand-8: #c8c7c1;
  --color-sand-9: #90908c;
  --color-sand-10: #868682;
  --color-sand-11: #706f6c;
  --color-sand-12: #1b1b18;
  --color-sky-1: #f9feff;
  --color-sky-2: #f1fcff;
  --color-sky-3: #e4f9ff;
  --color-sky-4: #d5f4fd;
  --color-sky-5: #c1ecf9;
  --color-sky-6: #a4dff1;
  --color-sky-7: #79cfea;
  --color-sky-8: #2ebde5;
  --color-sky-9: #68ddfd;
  --color-sky-10: #5fd4f4;
  --color-sky-11: #0078a1;
  --color-sky-12: #003242;
  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-300: #7dd3fc;
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0284c7;
  --color-sky-700: #0369a1;
  --color-sky-800: #075985;
  --color-sky-900: #0c4a6e;
  --color-slate-1: #fbfcfd;
  --color-slate-2: #f8f9fa;
  --color-slate-3: #f1f3f5;
  --color-slate-4: #eceef0;
  --color-slate-5: #e6e8eb;
  --color-slate-6: #dfe3e6;
  --color-slate-7: #d7dbdf;
  --color-slate-8: #c1c8cd;
  --color-slate-9: #889096;
  --color-slate-10: #7e868c;
  --color-slate-11: #687076;
  --color-slate-12: #11181c;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-teal-1: #fafefd;
  --color-teal-2: #f1fcfa;
  --color-teal-3: #e7f9f5;
  --color-teal-4: #d9f3ee;
  --color-teal-5: #c7ebe5;
  --color-teal-6: #afdfd7;
  --color-teal-7: #8dcec3;
  --color-teal-8: #53b9ab;
  --color-teal-9: #12a594;
  --color-teal-10: #0e9888;
  --color-teal-11: #067a6f;
  --color-teal-12: #10302a;
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #2dd4bf;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
  --color-teal-900: #134e4a;
  --color-tomato-1: #fffcfc;
  --color-tomato-2: #fff8f7;
  --color-tomato-3: #fff0ee;
  --color-tomato-4: #ffe6e2;
  --color-tomato-5: #fdd8d3;
  --color-tomato-6: #fac7be;
  --color-tomato-7: #f3b0a2;
  --color-tomato-8: #ea9280;
  --color-tomato-9: #e54d2e;
  --color-tomato-10: #db4324;
  --color-tomato-11: #ca3214;
  --color-tomato-12: #341711;
  --color-violet-1: #fdfcfe;
  --color-violet-2: #fbfaff;
  --color-violet-3: #f5f2ff;
  --color-violet-4: #ede9fe;
  --color-violet-5: #e4defc;
  --color-violet-6: #d7cff9;
  --color-violet-7: #c4b8f3;
  --color-violet-8: #aa99ec;
  --color-violet-9: #6e56cf;
  --color-violet-10: #644fc1;
  --color-violet-11: #5746af;
  --color-violet-12: #20134b;
  --color-violet-50: #f5f3ff;
  --color-violet-100: #ede9fe;
  --color-violet-200: #ddd6fe;
  --color-violet-300: #c4b5fd;
  --color-violet-400: #a78bfa;
  --color-violet-500: #8b5cf6;
  --color-violet-600: #7c3aed;
  --color-violet-700: #6d28d9;
  --color-violet-800: #5b21b6;
  --color-violet-900: #4c1d95;
  --color-gray-1: #fcfcfc;
  --color-gray-2: #f8f8f8;
  --color-gray-3: #f3f3f3;
  --color-gray-4: #ededed;
  --color-gray-5: #e8e8e8;
  --color-gray-6: #e2e2e2;
  --color-gray-7: #dbdbdb;
  --color-gray-8: #c7c7c7;
  --color-gray-9: #8f8f8f;
  --color-gray-10: #858585;
  --color-gray-11: #6f6f6f;
  --color-gray-12: #171717;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-yellow-1: #fdfdf9;
  --color-yellow-2: #fffce8;
  --color-yellow-3: #fffbd1;
  --color-yellow-4: #fff8bb;
  --color-yellow-5: #fef2a4;
  --color-yellow-6: #f9e68c;
  --color-yellow-7: #efd36c;
  --color-yellow-8: #ebbc00;
  --color-yellow-9: #f5d90a;
  --color-yellow-10: #f7ce00;
  --color-yellow-11: #946800;
  --color-yellow-12: #35290f;
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fef3c7;
  --color-yellow-200: #fde68a;
  --color-yellow-300: #fcd34d;
  --color-yellow-400: #fbbf24;
  --color-yellow-500: #f59e0b;
  --color-yellow-600: #d97706;
  --color-yellow-700: #b45309;
  --color-yellow-800: #92400e;
  --color-yellow-900: #78350f;
  --color-indigo-1: #fdfdfe;
  --color-indigo-2: #f8faff;
  --color-indigo-3: #f0f4ff;
  --color-indigo-4: #e6edfe;
  --color-indigo-5: #d9e2fc;
  --color-indigo-6: #c6d4f9;
  --color-indigo-7: #aec0f5;
  --color-indigo-8: #8da4ef;
  --color-indigo-9: #3e63dd;
  --color-indigo-10: #3a5ccc;
  --color-indigo-11: #3451b2;
  --color-indigo-12: #101d46;
  --color-indigo-50: #f0f9ff;
  --color-indigo-100: #e0f2fe;
  --color-indigo-200: #bae6fd;
  --color-indigo-300: #7dd3fc;
  --color-indigo-400: #38bdf8;
  --color-indigo-500: #0ea5e9;
  --color-indigo-600: #0284c7;
  --color-indigo-700: #005b8a;
  --color-indigo-800: #075985;
  --color-indigo-900: #0c4a6e;
  --color-tomatodark-1: #1d1412;
  --color-tomatodark-2: #2a1410;
  --color-tomatodark-3: #3b1813;
  --color-tomatodark-4: #481a14;
  --color-tomatodark-5: #541c15;
  --color-tomatodark-6: #652016;
  --color-tomatodark-7: #7f2315;
  --color-tomatodark-8: #a42a12;
  --color-tomatodark-9: #e54d2e;
  --color-tomatodark-10: #ec5e41;
  --color-tomatodark-11: #f16a50;
  --color-tomatodark-12: #feefec;
  --color-reddark-1: #1f1315;
  --color-reddark-2: #291415;
  --color-reddark-3: #3c181a;
  --color-reddark-4: #481a1d;
  --color-reddark-5: #541b1f;
  --color-reddark-6: #671e22;
  --color-reddark-7: #822025;
  --color-reddark-8: #aa2429;
  --color-reddark-9: #e5484d;
  --color-reddark-10: #f2555a;
  --color-reddark-11: #ff6369;
  --color-reddark-12: #feecee;
  --color-crimsondark-1: #1d1418;
  --color-crimsondark-2: #27141c;
  --color-crimsondark-3: #3c1827;
  --color-crimsondark-4: #481a2d;
  --color-crimsondark-5: #541b33;
  --color-crimsondark-6: #641d3b;
  --color-crimsondark-7: #801d45;
  --color-crimsondark-8: #ae1955;
  --color-crimsondark-9: #e93d82;
  --color-crimsondark-10: #f04f88;
  --color-crimsondark-11: #f76190;
  --color-crimsondark-12: #feecf4;
  --color-pinkdark-1: #1f121b;
  --color-pinkdark-2: #271421;
  --color-pinkdark-3: #3a182f;
  --color-pinkdark-4: #451a37;
  --color-pinkdark-5: #501b3f;
  --color-pinkdark-6: #601d48;
  --color-pinkdark-7: #7a1d5a;
  --color-pinkdark-8: #a71873;
  --color-pinkdark-9: #d6409f;
  --color-pinkdark-10: #e34ba9;
  --color-pinkdark-11: #f65cb6;
  --color-pinkdark-12: #feebf7;
  --color-plumdark-1: #1d131d;
  --color-plumdark-2: #251425;
  --color-plumdark-3: #341a34;
  --color-plumdark-4: #3e1d40;
  --color-plumdark-5: #48214b;
  --color-plumdark-6: #542658;
  --color-plumdark-7: #692d6f;
  --color-plumdark-8: #883894;
  --color-plumdark-9: #ab4aba;
  --color-plumdark-10: #bd54c6;
  --color-plumdark-11: #d864d8;
  --color-plumdark-12: #fbecfc;
  --color-purpledark-1: #1b141d;
  --color-purpledark-2: #221527;
  --color-purpledark-3: #301a3a;
  --color-purpledark-4: #3a1e48;
  --color-purpledark-5: #432155;
  --color-purpledark-6: #4e2667;
  --color-purpledark-7: #5f2d84;
  --color-purpledark-8: #7938b2;
  --color-purpledark-9: #8e4ec6;
  --color-purpledark-10: #9d5bd2;
  --color-purpledark-11: #bf7af0;
  --color-purpledark-12: #f7ecfc;
  --color-violetdark-1: #17151f;
  --color-violetdark-2: #1c172b;
  --color-violetdark-3: #251e40;
  --color-violetdark-4: #2c2250;
  --color-violetdark-5: #32275f;
  --color-violetdark-6: #392c72;
  --color-violetdark-7: #443592;
  --color-violetdark-8: #5842c3;
  --color-violetdark-9: #6e56cf;
  --color-violetdark-10: #7c66dc;
  --color-violetdark-11: #9e8cfc;
  --color-violetdark-12: #f1eefe;
  --color-skydark-1: #0c1820;
  --color-skydark-2: #071d2a;
  --color-skydark-3: #082636;
  --color-skydark-4: #082d41;
  --color-skydark-5: #08354c;
  --color-skydark-6: #083e59;
  --color-skydark-7: #064b6b;
  --color-skydark-8: #005d85;
  --color-skydark-9: #68ddfd;
  --color-skydark-10: #8ae8ff;
  --color-skydark-11: #2ec8ee;
  --color-skydark-12: #eaf8ff;
  --color-indigodark-1: #131620;
  --color-indigodark-2: #15192d;
  --color-indigodark-3: #192140;
  --color-indigodark-4: #1c274f;
  --color-indigodark-5: #1f2c5c;
  --color-indigodark-6: #22346e;
  --color-indigodark-7: #273e89;
  --color-indigodark-8: #2f4eb2;
  --color-indigodark-9: #3e63dd;
  --color-indigodark-10: #5373e7;
  --color-indigodark-11: #849dff;
  --color-indigodark-12: #eef1fd;
  --color-bluedark-1: #0f1720;
  --color-bluedark-2: #0f1b2d;
  --color-bluedark-3: #10243e;
  --color-bluedark-4: #102a4c;
  --color-bluedark-5: #0f3058;
  --color-bluedark-6: #0d3868;
  --color-bluedark-7: #0a4481;
  --color-bluedark-8: #0954a5;
  --color-bluedark-9: #0091ff;
  --color-bluedark-10: #369eff;
  --color-bluedark-11: #52a9ff;
  --color-bluedark-12: #eaf6ff;
  --color-cyandark-1: #07191d;
  --color-cyandark-2: #061e24;
  --color-cyandark-3: #072830;
  --color-cyandark-4: #07303b;
  --color-cyandark-5: #073844;
  --color-cyandark-6: #064150;
  --color-cyandark-7: #045063;
  --color-cyandark-8: #00647d;
  --color-cyandark-9: #05a2c2;
  --color-cyandark-10: #00b1cc;
  --color-cyandark-11: #00c2d7;
  --color-cyandark-12: #e1f8fa;
  --color-mintdark-1: #081917;
  --color-mintdark-2: #05201e;
  --color-mintdark-3: #052926;
  --color-mintdark-4: #04312c;
  --color-mintdark-5: #033a34;
  --color-mintdark-6: #01453d;
  --color-mintdark-7: #00564a;
  --color-mintdark-8: #006d5b;
  --color-mintdark-9: #70e1c8;
  --color-mintdark-10: #95f3d9;
  --color-mintdark-11: #25d0ab;
  --color-mintdark-12: #e7fcf7;
  --color-tealdark-1: #091915;
  --color-tealdark-2: #04201b;
  --color-tealdark-3: #062923;
  --color-tealdark-4: #07312b;
  --color-tealdark-5: #083932;
  --color-tealdark-6: #09443c;
  --color-tealdark-7: #0b544a;
  --color-tealdark-8: #0c6d62;
  --color-tealdark-9: #12a594;
  --color-tealdark-10: #10b3a3;
  --color-tealdark-11: #0ac5b3;
  --color-tealdark-12: #e1faf4;
  --color-greendark-1: #0d1912;
  --color-greendark-2: #0c1f17;
  --color-greendark-3: #0f291e;
  --color-greendark-4: #113123;
  --color-greendark-5: #133929;
  --color-greendark-6: #164430;
  --color-greendark-7: #1b543a;
  --color-greendark-8: #236e4a;
  --color-greendark-9: #30a46c;
  --color-greendark-10: #3cb179;
  --color-greendark-11: #4cc38a;
  --color-greendark-12: #e5fbeb;
  --color-limedark-1: #141807;
  --color-limedark-2: #181d08;
  --color-limedark-3: #1e260d;
  --color-limedark-4: #252e0f;
  --color-limedark-5: #2b3711;
  --color-limedark-6: #344213;
  --color-limedark-7: #415215;
  --color-limedark-8: #536716;
  --color-limedark-9: #99d52a;
  --color-limedark-10: #c4f042;
  --color-limedark-11: #87be22;
  --color-limedark-12: #effbdd;
  --color-grassdark-1: #0d1912;
  --color-grassdark-2: #0f1e13;
  --color-grassdark-3: #132819;
  --color-grassdark-4: #16301d;
  --color-grassdark-5: #193921;
  --color-grassdark-6: #1d4427;
  --color-grassdark-7: #245530;
  --color-grassdark-8: #2f6e3b;
  --color-grassdark-9: #46a758;
  --color-grassdark-10: #55b467;
  --color-grassdark-11: #63c174;
  --color-grassdark-12: #e5fbeb;
  --color-yellowdark-1: #1c1500;
  --color-yellowdark-2: #221a00;
  --color-yellowdark-3: #2c2100;
  --color-yellowdark-4: #352800;
  --color-yellowdark-5: #3e3000;
  --color-yellowdark-6: #493c00;
  --color-yellowdark-7: #594a05;
  --color-yellowdark-8: #705e00;
  --color-yellowdark-9: #f5d90a;
  --color-yellowdark-10: #ffef5c;
  --color-yellowdark-11: #f0c000;
  --color-yellowdark-12: #fffad1;
  --color-amberdark-1: #1f1300;
  --color-amberdark-2: #271700;
  --color-amberdark-3: #341c00;
  --color-amberdark-4: #3f2200;
  --color-amberdark-5: #4a2900;
  --color-amberdark-6: #573300;
  --color-amberdark-7: #693f05;
  --color-amberdark-8: #824e00;
  --color-amberdark-9: #ffb224;
  --color-amberdark-10: #ffcb47;
  --color-amberdark-11: #f1a10d;
  --color-amberdark-12: #fef3dd;
  --color-orangedark-1: #1f1206;
  --color-orangedark-2: #2b1400;
  --color-orangedark-3: #391a03;
  --color-orangedark-4: #441f04;
  --color-orangedark-5: #4f2305;
  --color-orangedark-6: #5f2a06;
  --color-orangedark-7: #763205;
  --color-orangedark-8: #943e00;
  --color-orangedark-9: #f76808;
  --color-orangedark-10: #ff802b;
  --color-orangedark-11: #ff8b3e;
  --color-orangedark-12: #feeadd;
  --color-browndark-1: #1a1513;
  --color-browndark-2: #221813;
  --color-browndark-3: #2e201a;
  --color-browndark-4: #36261e;
  --color-browndark-5: #3e2d22;
  --color-browndark-6: #493528;
  --color-browndark-7: #5c4332;
  --color-browndark-8: #775940;
  --color-browndark-9: #ad7f58;
  --color-browndark-10: #bd8b60;
  --color-browndark-11: #dba16e;
  --color-browndark-12: #faf0e5;
  --color-graydark-1: #161616;
  --color-graydark-2: #1c1c1c;
  --color-graydark-3: #232323;
  --color-graydark-4: #282828;
  --color-graydark-5: #2e2e2e;
  --color-graydark-6: #343434;
  --color-graydark-7: #3e3e3e;
  --color-graydark-8: #505050;
  --color-graydark-9: #707070;
  --color-graydark-10: #7e7e7e;
  --color-graydark-11: #a0a0a0;
  --color-graydark-12: #ededed;
  --color-mauvedark-1: #161618;
  --color-mauvedark-2: #1c1c1f;
  --color-mauvedark-3: #232326;
  --color-mauvedark-4: #28282c;
  --color-mauvedark-5: #2e2e32;
  --color-mauvedark-6: #34343a;
  --color-mauvedark-7: #3e3e44;
  --color-mauvedark-8: #504f57;
  --color-mauvedark-9: #706f78;
  --color-mauvedark-10: #7e7d86;
  --color-mauvedark-11: #a09fa6;
  --color-mauvedark-12: #ededef;
  --color-slatedark-1: #151718;
  --color-slatedark-2: #1a1d1e;
  --color-slatedark-3: #202425;
  --color-slatedark-4: #26292b;
  --color-slatedark-5: #2b2f31;
  --color-slatedark-6: #313538;
  --color-slatedark-7: #3a3f42;
  --color-slatedark-8: #4c5155;
  --color-slatedark-9: #697177;
  --color-slatedark-10: #787f85;
  --color-slatedark-11: #9ba1a6;
  --color-slatedark-12: #ecedee;
  --color-sagedark-1: #141716;
  --color-sagedark-2: #191d1b;
  --color-sagedark-3: #1f2421;
  --color-sagedark-4: #252a27;
  --color-sagedark-5: #2a2f2c;
  --color-sagedark-6: #303633;
  --color-sagedark-7: #393f3c;
  --color-sagedark-8: #4a524e;
  --color-sagedark-9: #66736d;
  --color-sagedark-10: #75817b;
  --color-sagedark-11: #99a29e;
  --color-sagedark-12: #eceeed;
  --color-olivedark-1: #151715;
  --color-olivedark-2: #1a1d19;
  --color-olivedark-3: #20241f;
  --color-olivedark-4: #262925;
  --color-olivedark-5: #2b2f2a;
  --color-olivedark-6: #313530;
  --color-olivedark-7: #3b3f3a;
  --color-olivedark-8: #4c514b;
  --color-olivedark-9: #687366;
  --color-olivedark-10: #778175;
  --color-olivedark-11: #9aa299;
  --color-olivedark-12: #eceeec;
  --color-sanddark-1: #161615;
  --color-sanddark-2: #1c1c1a;
  --color-sanddark-3: #232320;
  --color-sanddark-4: #282826;
  --color-sanddark-5: #2e2e2b;
  --color-sanddark-6: #353431;
  --color-sanddark-7: #3e3e3a;
  --color-sanddark-8: #51504b;
  --color-sanddark-9: #717069;
  --color-sanddark-10: #7f7e77;
  --color-sanddark-11: #a1a09a;
  --color-sanddark-12: #ededec;
  --color-golddark-1: #171613;
  --color-golddark-2: #1c1a15;
  --color-golddark-3: #26231c;
  --color-golddark-4: #2e2a21;
  --color-golddark-5: #353026;
  --color-golddark-6: #3e382c;
  --color-golddark-7: #504737;
  --color-golddark-8: #6b5d48;
  --color-golddark-9: #978365;
  --color-golddark-10: #a59071;
  --color-golddark-11: #bfa888;
  --color-golddark-12: #f7f4e7;
  --color-bronzedark-1: #191514;
  --color-bronzedark-2: #1f1917;
  --color-bronzedark-3: #2a211f;
  --color-bronzedark-4: #332824;
  --color-bronzedark-5: #3b2e29;
  --color-bronzedark-6: #453530;
  --color-bronzedark-7: #57433c;
  --color-bronzedark-8: #74594e;
  --color-bronzedark-9: #a18072;
  --color-bronzedark-10: #b08c7d;
  --color-bronzedark-11: #cba393;
  --color-bronzedark-12: #f9ede7;
}
